* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
  background-color: #f1f6f8fc;
  height: 100vh;
}

.content {
  padding: 1rem;
  background-color: #ffffff;
  height: 100vh;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .number {
  color: #000;
  opacity: .3;
  text-align: right;
}

.pokemon .detail .types {
  padding-left: 0;
  list-style: none;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0;
  border-radius: 1rem;
  font-size: .625rem;
}

.pokemon .detail img {
  max-width: 70px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    margin: 0 auto;
    border-radius: 1rem;
  }
}

.content h1 {
  margin: 0;
}

.pokemons {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: minmax(184px, 1fr);
}

@media screen and (min-width: 375px) {
  .pokemons {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}

.pokemon {
  margin: .5rem;
  padding: 1rem;
  background-color: #49d0b0;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .content {
    height: auto;
  }

  .pokemons {
    grid-template-columns: repeat(4, minmax(180px, 1fr));
  }
}